body {
     margin: 0;
     padding: 0;
     height: 100%;
}
 .main-header {
     align-items: center;
     background-color: rgb(255, 255, 255);
     border-bottom-color: rgba(40, 44, 63, 0.1);
     border-bottom-style: solid;
     border-bottom-width: 1px;
     border-left-color: rgba(40, 44, 63, 0.1);
     border-right-color: rgba(40, 44, 63, 0.1);
     border-top-color: rgba(40, 44, 63, 0.1);
     box-sizing: border-box;
     color: rgb(61, 65, 82);
     contain: strict;
     cursor: pointer;
     display: flex;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-size: 14px;
     font-weight: 300;
     height: 52px;
     left: 0px;
     letter-spacing: normal;
     line-height: 16.8px;
     margin-bottom: 0px;
     margin-left: 0px;
     margin-right: 0px;
    /* margin-top: -52px;
     */
     outline-color: rgb(61, 65, 82);
     outline-style: none;
     outline-width: 0px;
     overflow-x: hidden;
     overflow-y: hidden;
     padding-bottom: 0px;
     padding-left: 0px;
     padding-right: 4px;
     padding-top: 0px;
     position: sticky;
     top: 0px;
     user-select: none;
     z-index: 8;
     -moz-text-size-adjust: none;
}
 .back {
     appearance: none;
     background-attachment: scroll;
     background-clip: border-box;
     background-color: rgba(0, 0, 0, 0);
     background-image: none;
     background-origin: padding-box;
     background-position-x: 0px;
     background-position-y: 0px;
     background-repeat: repeat;
     background-size: auto;
     border-bottom-color: rgba(0, 0, 0, 0);
     border-bottom-style: none;
     border-bottom-width: 0px;
     border-image-outset: 0;
     border-image-repeat: stretch;
     border-image-slice: 100%;
     border-image-source: none;
     border-image-width: 1;
     border-left-color: rgba(0, 0, 0, 0);
     border-left-style: none;
     border-left-width: 0px;
     border-right-color: rgba(0, 0, 0, 0);
     border-right-style: none;
     border-right-width: 0px;
     border-top-color: rgba(0, 0, 0, 0);
     border-top-style: none;
     border-top-width: 0px;
     box-sizing: border-box;
     color: rgb(61, 65, 82);
     cursor: pointer;
     display: block;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-feature-settings: normal;
     font-kerning: auto;
     font-language-override: normal;
     font-optical-sizing: auto;
     font-size: 14px;
     font-size-adjust: none;
     font-stretch: 100%;
     font-style: normal;
     font-variant-alternates: normal;
     font-variant-caps: normal;
     font-variant-east-asian: normal;
     font-variant-ligatures: normal;
     font-variant-numeric: normal;
     font-variant-position: normal;
     font-variation-settings: normal;
     font-weight: 600;
     letter-spacing: normal;
     line-height: 0px;
     margin-bottom: 0px;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 0px;
     outline-color: rgb(61, 65, 82);
     outline-style: none;
     outline-width: 0px;
     overflow-x: hidden;
     overflow-y: hidden;
     padding-bottom: 16px;
     padding-left: 16px;
     padding-right: 16px;
     padding-top: 16px;
     position: relative;
     text-align: left;
     -moz-text-size-adjust: none;
}
 .back-svg {
     box-sizing: border-box;
     color: rgb(61, 65, 82);
     cursor: pointer;
     fill: rgb(61, 65, 82);
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-feature-settings: normal;
     font-kerning: auto;
     font-language-override: normal;
     font-optical-sizing: auto;
     font-size: 14px;
     font-size-adjust: none;
     font-stretch: 100%;
     font-style: normal;
     font-variant-alternates: normal;
     font-variant-caps: normal;
     font-variant-east-asian: normal;
     font-variant-ligatures: normal;
     font-variant-numeric: normal;
     font-variant-position: normal;
     font-variation-settings: normal;
     font-weight: 600;
     height: 20px;
     letter-spacing: normal;
     line-height: 0px;
     margin-bottom: 0px;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 0px;
     outline-color: rgb(61, 65, 82);
     outline-style: none;
     outline-width: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 0px;
     stroke: rgb(61, 65, 82);
     stroke-width: 0px;
     text-align: left;
     user-select: none;
     vertical-align: middle;
     width: 20px;
     -moz-text-size-adjust: none 
}
 .oNameC {
     box-sizing: border-box;
     color: rgb(61, 65, 82);
     cursor: pointer;
     flex-basis: 0%;
     flex-grow: 1;
     flex-shrink: 1;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-size: 14px;
     font-weight: 300;
     letter-spacing: normal;
     line-height: 16.8px;
     margin-bottom: 0px;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 0px;
     opacity: 1;
     outline-color: rgb(61, 65, 82);
     outline-style: none;
     outline-width: 0px;
     overflow-x: hidden;
     overflow-y: hidden;
     padding-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 0px;
     user-select: none;
     -moz-text-size-adjust: none;
}
 .oNameName {
     box-sizing: border-box;
     color: rgb(61, 65, 82);
     cursor: pointer;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-size: 13.02px;
     font-weight: 600;
     letter-spacing: normal;
     line-height: 15.6167px;
     margin-bottom: 0px;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 0px;
     outline-color: rgb(61, 65, 82);
     outline-style: none;
     outline-width: 0px;
     overflow-x: hidden;
     overflow-y: hidden;
     padding-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 0px;
     text-overflow: ellipsis;
     user-select: none;
     white-space: nowrap;
     -moz-text-size-adjust: none 
}
 .item0 {
     box-sizing: border-box;
     color: rgb(40, 44, 63);
     cursor: pointer;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-size: 14px;
     font-weight: 300;
     letter-spacing: normal;
     line-height: 16.8px;
     margin-bottom: 0px;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 0px;
     outline-color: rgb(40, 44, 63);
     outline-style: none;
     outline-width: 0px;
     padding-bottom: 14px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 0px;
     user-select: none;
     -moz-text-size-adjust: none;
}
 .item1 {
     align-items: flex-start;
     box-sizing: border-box;
     color: rgb(40, 44, 63);
     cursor: pointer;
     display: flex;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-size: 14px;
     font-weight: 300;
     justify-content: space-between;
     letter-spacing: normal;
     line-height: 16.8px;
     margin-bottom: 0px;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 0px;
     outline-color: rgb(40, 44, 63);
     outline-style: none;
     outline-width: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 0px;
     user-select: none;
     -moz-box-align: start;
     -moz-box-pack: justify;
     -moz-text-size-adjust: none;
}
 .item-Text0 {
     box-sizing: border-box;
     color: rgb(40, 44, 63);
     cursor: pointer;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-size: 14px;
     font-weight: 300;
     letter-spacing: normal;
     line-height: 16.8px;
     margin-bottom: 0px;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 0px;
     max-width: calc(100% - 144px);
     outline-color: rgb(40, 44, 63);
     outline-style: none;
     outline-width: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 0px;
     user-select: none;
     -moz-text-size-adjust: none;
}
 .item-Name0 {
     box-sizing: border-box;
     color: rgb(40, 44, 63);
     cursor: pointer;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-size: 14px;
     font-weight: 300;
     letter-spacing: normal;
     line-height: 16.8px;
     margin-bottom: 0px;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 4px;
     outline-color: rgb(40, 44, 63);
     outline-style: none;
     outline-width: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 0px;
     user-select: none;
     -moz-text-size-adjust: none;
}
 .item-Name0 {
     box-sizing: border-box;
     color: rgb(40, 44, 63);
     cursor: pointer;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-size: 14px;
     font-weight: 300;
     letter-spacing: normal;
     line-height: 16.8px;
     margin-bottom: 0px;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 4px;
     outline-color: rgb(40, 44, 63);
     outline-style: none;
     outline-width: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 0px;
     user-select: none;
     -moz-text-size-adjust: none;
}
 .item-Name1 {
     box-sizing: border-box;
     color: rgb(62, 65, 82);
     cursor: pointer;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-size: 17.08px;
     font-weight: 500;
     letter-spacing: normal;
     line-height: 20.5px;
     margin-bottom: 0px;
     margin-left: 0px;
     margin-right: 4px;
     margin-top: 0px;
     outline-color: rgb(62, 65, 82);
     outline-style: none;
     outline-width: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 0px;
     user-select: none;
     word-break: break-word;
     -moz-text-size-adjust: none;
}
 .item-Price0 {
     align-items: center;
     box-sizing: border-box;
     color: rgb(40, 44, 63);
     cursor: pointer;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-size: 14px;
     font-weight: 300;
     letter-spacing: normal;
     line-height: 16.8px;
     margin-bottom: 0px;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 4px;
     outline-color: rgb(40, 44, 63);
     outline-style: none;
     outline-width: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 0px;
     user-select: none;
     -moz-box-align: center;
     -moz-text-size-adjust: none;
}
 .item-Price1 {
     box-sizing: border-box;
     color: rgb(62, 65, 82);
     cursor: pointer;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-size: 14px;
     font-weight: 400;
     letter-spacing: normal;
     line-height: 16.8px;
     margin-bottom: 0px;
     margin-left: 0px;
     margin-right: 8px;
     margin-top: 0px;
     outline-color: rgb(62, 65, 82);
     outline-style: none;
     outline-width: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 0px;
     user-select: none;
     -moz-text-size-adjust: none;
}
 .item-Desc {
     box-sizing: border-box;
     color: rgba(40, 44, 63, 0.45);
     cursor: pointer;
     display: flow-root;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-size: 14px;
     font-weight: 300;
     letter-spacing: -0.3px;
     line-height: 18.2px;
     margin-bottom: 0px;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 14px;
     outline-color: rgba(40, 44, 63, 0.45);
     outline-style: none;
     outline-width: 0px;
     overflow-x: hidden;
     overflow-y: hidden;
     padding-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 0px;
     user-select: none;
     width: 207px;
     -moz-box-orient: vertical;
     -moz-text-size-adjust: none;
     -webkit-line-clamp: 2;
}
 .item-Image {
     box-sizing: border-box;
     color: rgb(40, 44, 63);
     cursor: pointer;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-size: 0px;
     font-weight: 300;
     height: 120px;
     letter-spacing: normal;
     line-height: 0px;
     margin-bottom: 0px;
     margin-left: 16px;
     margin-right: 0px;
     margin-top: 0px;
     min-width: 118px;
     outline-color: rgb(40, 44, 63);
     outline-style: none;
     outline-width: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 0px;
     position: relative;
     user-select: none;
     -moz-text-size-adjust: none;
}
 .item-Image0 {
     appearance: none;
     background-attachment: scroll;
     background-clip: border-box;
     background-color: rgb(251, 238, 215);
     background-image: none;
     background-origin: padding-box;
     background-position-x: 0%;
     background-position-y: 0%;
     background-repeat: repeat;
     background-size: auto;
     border-bottom-color: rgba(0, 0, 0, 0);
     border-bottom-left-radius: 6px;
     border-bottom-right-radius: 6px;
     border-bottom-style: none;
     border-bottom-width: 0px;
     border-image-outset: 0;
     border-image-repeat: stretch;
     border-image-slice: 100%;
     border-image-source: none;
     border-image-width: 1;
     border-left-color: rgba(0, 0, 0, 0);
     border-left-style: none;
     border-left-width: 0px;
     border-right-color: rgba(0, 0, 0, 0);
     border-right-style: none;
     border-right-width: 0px;
     border-top-color: rgba(0, 0, 0, 0);
     border-top-left-radius: 6px;
     border-top-right-radius: 6px;
     border-top-style: none;
     border-top-width: 0px;
     box-sizing: border-box;
     color: rgb(40, 44, 63);
     cursor: pointer;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-feature-settings: normal;
     font-kerning: auto;
     font-language-override: normal;
     font-optical-sizing: auto;
     font-size: 0px;
     font-size-adjust: none;
     font-stretch: 100%;
     font-style: normal;
     font-variant-alternates: normal;
     font-variant-caps: normal;
     font-variant-east-asian: normal;
     font-variant-ligatures: normal;
     font-variant-numeric: normal;
     font-variant-position: normal;
     font-variation-settings: normal;
     font-weight: 300;
     height: 96px;
     letter-spacing: normal;
     line-height: 0px;
     margin-bottom: 0px;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 0px;
     object-fit: cover;
     outline-color: rgb(40, 44, 63);
     outline-style: none;
     outline-width: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 0px;
     text-align: left;
     width: 118px;
     -moz-text-size-adjust: none;
}
 .item-Image1 {
     border-bottom-left-radius: 6px;
     border-bottom-right-radius: 6px;
     border-top-left-radius: 6px;
     border-top-right-radius: 6px;
     box-sizing: border-box;
     color: rgb(40, 44, 63);
     cursor: pointer;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-feature-settings: normal;
     font-kerning: auto;
     font-language-override: normal;
     font-optical-sizing: auto;
     font-size: 0px;
     font-size-adjust: none;
     font-stretch: 100%;
     font-style: normal;
     font-variant-alternates: normal;
     font-variant-caps: normal;
     font-variant-east-asian: normal;
     font-variant-ligatures: normal;
     font-variant-numeric: normal;
     font-variant-position: normal;
     font-variation-settings: normal;
     font-weight: 300;
     height: 96px;
     letter-spacing: normal;
     line-height: 0px;
     margin-bottom: 0px;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 0px;
     object-fit: cover;
     outline-color: rgb(40, 44, 63);
     outline-style: none;
     outline-width: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 0px;
     text-align: left;
     user-select: none;
     width: 118px;
     -moz-text-size-adjust: none;
}
 .add-Btn {
     bottom: 8px;
     box-sizing: border-box;
     color: rgb(40, 44, 63);
     cursor: pointer;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-size: 0px;
     font-weight: 300;
     left: 59px;
     letter-spacing: normal;
     line-height: 0px;
     margin-bottom: 0px;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 0px;
     outline-color: rgb(40, 44, 63);
     outline-style: none;
     outline-width: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 0px;
     position: absolute;
     transform: matrix(1, 0, 0, 1, -48, 0);
     user-select: none;
     z-index: 1;
     -moz-text-size-adjust: none;
}
 .add-Btn0 {
     box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 8px 0px;
     box-sizing: border-box;
     color: rgb(40, 44, 63);
     cursor: pointer;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-size: 0px;
     font-weight: 300;
     letter-spacing: normal;
     line-height: 0px;
     margin-bottom: 0px;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 0px;
     min-height: 36px;
     outline-color: rgb(40, 44, 63);
     outline-style: none;
     outline-width: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 0px;
     position: relative;
     user-select: none;
     width: 96px;
     -moz-text-size-adjust: none;
}
 .add-Btn1 {
     background-color: rgb(255, 255, 255);
     border-bottom-color: rgb(212, 213, 217);
     border-bottom-left-radius: 4px;
     border-bottom-right-radius: 4px;
     border-bottom-style: solid;
     border-bottom-width: 1px;
     border-image-outset: 0;
     border-image-repeat: stretch;
     border-image-slice: 100%;
     border-image-source: none;
     border-image-width: 1;
     border-left-color: rgb(212, 213, 217);
     border-left-style: solid;
     border-left-width: 1px;
     border-right-color: rgb(212, 213, 217);
     border-right-style: solid;
     border-right-width: 1px;
     border-top-color: rgb(212, 213, 217);
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
     border-top-style: solid;
     border-top-width: 1px;
     box-sizing: border-box;
     color: rgb(40, 44, 63);
     contain: content;
     cursor: pointer;
     display: flex;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-size: 0px;
     font-weight: 300;
     height: 36px;
     justify-content: center;
     letter-spacing: normal;
     line-height: 0px;
     margin-bottom: 0px;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 0px;
     outline-color: rgb(40, 44, 63);
     outline-style: none;
     outline-width: 0px;
     overflow-x: hidden;
     overflow-y: hidden;
     padding-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 0px;
     position: relative;
     user-select: none;
     width: 96px;
     -moz-box-pack: center;
     -moz-text-size-adjust: none;
}
 .add-Btn2 {
     appearance: none;
     background-attachment: scroll;
     background-clip: border-box;
     background-color: rgba(0, 0, 0, 0);
     background-image: none;
     background-origin: padding-box;
     background-position-x: 0px;
     background-position-y: 0px;
     background-repeat: repeat;
     background-size: auto;
     border-bottom-color: rgba(0, 0, 0, 0);
     border-bottom-style: none;
     border-bottom-width: 0px;
     border-image-outset: 0;
     border-image-repeat: stretch;
     border-image-slice: 100%;
     border-image-source: none;
     border-image-width: 1;
     border-left-color: rgba(0, 0, 0, 0);
     border-left-style: none;
     border-left-width: 0px;
     border-right-color: rgba(0, 0, 0, 0);
     border-right-style: none;
     border-right-width: 0px;
     border-top-color: rgba(0, 0, 0, 0);
     border-top-style: none;
     border-top-width: 0px;
     box-sizing: border-box;
     color: rgb(96, 178, 70);
     cursor: pointer;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-feature-settings: normal;
     font-kerning: auto;
     font-language-override: normal;
     font-optical-sizing: auto;
     font-size: 16.1px;
     font-size-adjust: none;
     font-stretch: 100%;
     font-style: normal;
     font-variant-alternates: normal;
     font-variant-caps: normal;
     font-variant-east-asian: normal;
     font-variant-ligatures: normal;
     font-variant-numeric: normal;
     font-variant-position: normal;
     font-variation-settings: normal;
     font-weight: 600;
     letter-spacing: normal;
     line-height: 36px;
     margin-bottom: 0px;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 0px;
     outline-color: rgb(96, 178, 70);
     outline-style: none;
     outline-width: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 0px;
     text-align: center;
     width: 94px;
     -moz-text-size-adjust: none;
}
 .plus {
     box-sizing: border-box;
     color: rgb(96, 178, 70);
     cursor: pointer;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-feature-settings: normal;
     font-kerning: auto;
     font-language-override: normal;
     font-optical-sizing: auto;
     font-size: 16.1px;
     font-size-adjust: none;
     font-stretch: 100%;
     font-style: normal;
     font-variant-alternates: normal;
     font-variant-caps: normal;
     font-variant-east-asian: normal;
     font-variant-ligatures: normal;
     font-variant-numeric: normal;
     font-variant-position: normal;
     font-variation-settings: normal;
     font-weight: 600;
     letter-spacing: normal;
     line-height: 16.1px;
     margin-bottom: 0px;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 0px;
     outline-color: rgb(96, 178, 70);
     outline-style: none;
     outline-width: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 0px;
     position: absolute;
     right: 4px;
     text-align: center;
     top: 0px;
     user-select: none;
     -moz-text-size-adjust: none;
}
 .container {
     box-sizing: border-box;
     color: rgb(40, 44, 63);
     cursor: pointer;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-size: 14px;
     font-weight: 300;
     letter-spacing: normal;
     line-height: 16.8px;
     margin-bottom: 0px;
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 0px;
     outline-color: rgb(40, 44, 63);
     outline-style: none;
     outline-width: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 0px;
     position: relative;
     user-select: none;
     -moz-text-size-adjust: none;
}
 .container0 {
     box-sizing: border-box;
     color: rgb(40, 44, 63);
     cursor: pointer;
     font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
     font-size: 14px;
     font-weight: 300;
     letter-spacing: normal;
     line-height: 16.8px;
     margin-bottom: 16px;
     margin-left: 16px;
     margin-right: 8px;
     margin-top: 24px;
     outline-color: rgb(40, 44, 63);
     outline-style: none;
     outline-width: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 0px;
     position: relative;
     user-select: none;
     -moz-text-size-adjust: none;
}
