* {
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
html {
    scrollbar-width: none;
    font-size: 14px;
    height: 100vh;
    min-height: 100%;
    width: 100vw;
}
body {
    display: flex;
    justify-content: center;
}
main {
    max-width: 800px;
}
.wrapHead {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}
.wrapHead {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.btnBack {
    width: 53px;
    padding: 16px;
    font-weight: 600;
    background: #fff;
}

.wrapOutletName {
    padding-left: 8px;
}
.outletName {
    white-space: auto;
    font-size: 1rem;
    color: #3d4152;
    font-weight: 600;
}



.wrapListItem {
    height: -webkit-fill-available;
    margin-bottom: 44px;
    overflow: auto;
}
.listItem {
    padding: 24px 8px 16px 16px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}


.wrapBtnSmry {
    max-width: 800px;
    position: fixed;
    position: -webkit-fixed;
    bottom: 0;
    z-index: 1;
}
.btnSmry {
    background: #60b246;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-weight: 600;
    font-size: 1rem;
    height: 44px;
}
.leftSmry {
    text-align: left;
}
.rightSmry {
    text-align: right;
}
.cartImg {
    margin-left: 5px;
    height: 14px;
    width: 14px;
}
.wrapItem {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
}
.leftItem {
    max-width: calc(100% - 144px);
}

.rightItem {
    width: auto;
    position: relative;
    margin-left: 16px;
	min-width: 118px;
    height: 120px;
}
.wrapImgItem {
    border-radius: 6px;
    width: 118px;
	height: 96px;
    object-fit: cover;
    overflow: hidden;
}

.wrapBtnItem {
    position: absolute;
	left: 50%;
	bottom: 8px;
	transform: translateX(-50%);
    box-shadow: 0 3px 8px rgba(0,0,0,.08);
    display: flex;
	justify-content: center;
    align-items: center;
	height: 36px;
	width: 96px;
	border: 1px solid #d4d5d9;
	background-color: #fff;
	border-radius: 4px;
}
.btnItem {
    background: #fff;
	font-size: 1.15rem;
	font-weight: 600;
	color: #60b246;
	text-align: center;
	line-height: 30px;
}
.nameItem {
    margin-top: 4px;
	margin-right: 4px;
	font-size: 1.22rem;
	font-weight: 500;
	color: #3e4152;
	word-break: break-word;
}
.priceItem {
    margin-top: 4px;
	margin-right: 8px;
	font-weight: 400;
	color: #3e4152;
}
.descItem {
    margin-top: 8px;
	line-height: 1.3;
	color: rgba(40,44,63,.45);
	letter-spacing: -.3px;
	font-size: 1rem;
}
