*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    outline-color: transparent;
}

html {
    height: 100%;
}

body {
    height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}



@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
}

.wrap {
    width: 768px;
    height: 90vh;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    display: flex;
    /* border: solid 1px red; */
}

.wrapLeft {
    width: 45%;
    min-height: 100%;
    max-height: 100%;
}

.wrapRight {
    width: 55%;
    position: relative;
}


.appView {
    height: 100%;
    padding: 6vh;
}

@media (max-width: 768px) {
    .wrap {
        width: 100%;
        height: 100%;
    }

    .wrapLeft {
        display: none;
    }

    .wrapRight {
        height: 100%;
        width: 100%;
    }

    .appView {
        width: 100%;
        height: 100%;
        box-shadow: none;
        padding: 6vh;
    }
}

.wrapTop,
.wrapTop>* {
    font-size: 4vh;
    margin: 0;
    font-weight: 300;
}

.wrapTop>h1 {
    font-size: 4.8vh;
    font-weight: 400;
    margin-bottom: 4.8vh;
}

.wrapTop span {
    color: rgba(0, 0, 0, 0.45);
}

.wrapForm {
    position: absolute;
    bottom: 10vh;
    width: calc(100% - 12vh);
}

.wrapInput {
    /* height: 7.5vh; */
    margin-top: 2vh;
    background: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

input {
    box-shadow: inset 0 -0.5vh rgba(0, 0, 0, 0.1);
    margin-left: 1.5vh;
    padding-bottom: 2vh;
    outline: none;
    width: 100%;
}

button {
    padding-top: 10vh;
    text-decoration: none;
    color: #0f9ede;
    font-size: 4.8vh;
    font-weight: 400;
    background: none;
}

.wrapSignup {
    position: absolute;
    bottom: 0;
    height: 10vh;
    line-height: 10vh;
    color: rgba(0, 0, 0, 0.45);
}

.wrapSignup>a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 400;
}
